*{
  font-family: 'Amazon Ember', sans-serif;
  a{
      text-decoration: none;
  }
}
body{
  background-color: black;
}

/* Nav Styling  */
#menubtn, #rimg2{
  align-items: center;
justify-content: center;
margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  background-color: black;
  padding:auto;
  font-size: medium;
  width: 100%;
  margin-bottom: 20px;
}

.navdiv{
  display: flex;
  flex-direction: row;
}
.nav1{
  display: flexbox;
  flex-direction: row;
  align-items: center;
}
.navimg{
  width:100px;
  margin-left: 55px;
  padding-top: 5px;
  padding-right: 22px;
  margin-top: 0px;
}
nav a{
  padding-right: 35px;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  gap: 8px;
  cursor: pointer;
}
.rbtn:hover {
  background-color:#f1f1f1;
  color:#00050d;
  border-radius: 50%;
  box-shadow: 0 0 5px #f1f1f1; 
}
.sqbtn:hover {
  background-color:#f1f1f1;
  color:#00050d;
  border-radius: 8px;
  box-shadow: 0 0 10px #f1f1f1;
}
.subs{
  margin-left:  40px;
  margin-right: 230px;
}
.material-icons {
  font-size: medium;
  font-weight: Amazon Ember Display 300;
  vertical-align: middle;
}
.navbtn{
  background-color: black;
  color:white;
  border-style: none;
  padding:10px  16px;
  font-size:medium;
  font-weight:bold;
  cursor: pointer;
}
.navbtn:hover{
background-color:#f1f1f1;
color:#00050d;
  border-radius: 5px;
  box-shadow: 0 0 5px #f1f1f1;
}
.joinbtn{
  background-color: #157bcf;
  font-weight: 600;
  font-size: medium;
  border-radius: 9px;
  border-color: none;
  margin-left: 10px;
  width: 100px;
  height: 25px;
}
.joinbtn:hover{
  background-color: #1a98ff;
  box-shadow: 0 0 10px #1a98ff;
}

/*  Section Styling */

.image-container{
  display: none;
}

h1, p{
  color:white;
}
.txth1 {

  font-size: 3.1rem;
  margin-bottom: 20px; 
}
 .txtp {
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight:600;
  line-height:30px;
}

section{
  margin-bottom: 20px;
}

.section1{
    width: 100%;
    background-image: url(images/welcome.jpg);
    display: flex;
  
}
.section2{
    width: 100%;
    display: flex;
    background-image: url(images/rent.jpg);

}
.fade{
    width: 70%;
    height: 500px;
    justify-items: flex-start;
    background: linear-gradient(to right, black 69%, rgba(0, 0, 0, 0) 100%);
}

.text-container {
  text-align: left;
  margin-top: 50px;
  margin-left: 60px;
  width: 66%;
}

.text-container button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 22px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.text-container button:hover {
  transform: scale(1.1);
  background-color: #f1f1f1;
  color:#4d4d4d;
}

.sec3{
  display: flex;
  align-items:start;
  justify-content: flex-start;
  width: 100%;

}
.sec3text{
  width: 52%;

}

.text-container-sec3 {
  text-align: left;
  margin-top: 50px;
  margin-left: 60px;
  width: 85%;

}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 90%;
  max-width: 600px;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 30px;

}
.grid-item {
  border-radius: 8px;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  display: block;
}

.grid-item a {
  text-decoration: none;
  color: inherit;
}
.grid-item:hover{
  box-shadow: 0 0 10px grey;
}


/* footer styling */

footer{
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.ftr{
  display: flex;
  justify-content: center;
}

footer>div>a{
  padding-top: 2px;
  color: #79b8f3;
  margin: 0 10px;
}

footer>div>a:hover{
  color: #90dffe;
}

.last{
  color: #8197a4;
}


@media screen and (min-width:1201px){
#menubtn,#rimg2{
   display: none;
}
}



@media screen and (min-width:993) and (max-width: 1200px){
.navbtn, .subs,.dash {
  display: none;
}

#menubtn{
  display: inline-flex;  
}

}




@media screen and (min-width:769px) and (max-width: 992px){

#menubtn{
    display: inline-flex;  
}

}



@media screen and (min-width:577px) and (max-width: 768px){
.navbtn, .subs,.dash,.apps,.joinbtn {
    display: none;
}

#menubtn{
  display: inline-flex;  
}
}




@media screen and (max-width: 576px){

.navbtn, .subs,.dash,.apps,.joinbtn {
    display: none;
}

nav{
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
    
}
nav a{
    padding: 5px;
}

.sec3{
  display: flex;
  flex-direction: column-reverse;
}


.image-container {
  display: inline-flex;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.fade,.sec3text {
  width: 100%; 
  height: auto;

}

.text-container,.text-container-sec3  {
  margin-top: 20px;
  margin-left: 10px;
  width: 90%; 
}

.text-container button {
  width: 100%;
}




}
