*{
    color: white;
    font-family: 'Amazon Ember Display', sans-serif;
    a{
        text-decoration: none;
    }
}
body{
    background-color: black;
}

/* NAVBAR STYLING */

nav{
    border:1px solid red;
    display: flex;
    flex-direction: row;
    margin-left: 63px;
    margin-top: 8px;
}

.logo{
    margin-top: 50px;
}
.navbtn1,.navbtn2{
    background-color: black;
    border-style: none;
    padding:10px  16px;

}

.navbtn1:hover,.navbtn2:hover{
    background-color: white;
    color: black;
}

.navbtn1:hover{
    border-radius: 5px;
}

.navbtn2:hover{
    border-radius: 300px;
}
.join{
    background-color: #157bcf;
    width: 120px;
    height: 45px;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
    border-color: #157bcf;
}
.join:hover{
    background-color: #1a98ff;
    border-color: #1a98ff;
}


/* section styling */
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.text-container {
    max-width: 40%;
}

.text-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.text-container button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.text-container button:hover {
    background-color: #E8E8E8;
}

.image-container {
    width: 55%;
    border-radius: 10px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}


.ext{
        width: 640px;
        height: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
}
.links{
    
    width: 200px;
    height:140px;
    border-radius: 10%;
    border: 3px solid BLACK;
}
.links:hover{
    border: 3px solid whitesmoke;
}

/* footer styling */

footer{
    background-color: #222222;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    
}

.ftr{
    display: flex;
    justify-content: center;
}


footer>div>a{
    color: #79b8f3;
    margin: 0 10px;
}

footer>div>a:hover{
    color: #90dffe;
}

.last{
    color: #8197a4;
}
