*{
    font-family: 'Amazon Ember Display', sans-serif;
    a{
        text-decoration: none;
    }
}
body{
    background-color: black;
}

/*nav styling  */
#menubtn {
    display: none;
  }
  
nav {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 5px 20px;
    margin-left: 45px;
    font-size: medium;
    font-weight:550;
  }

.navimg{
    width:100px;
    padding-right: 22px;
}

nav a{
    padding-right: 25px;
}
.btn {
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    gap: 8px;
    cursor: pointer;
  }

  .rbtn:hover {
    background-color:#f1f1f1;
    color:#00050d;
    border-radius: 50%;
    box-shadow: 0 0 5px #f1f1f1; 
  }

  .sqbtn:hover {
    background-color:#f1f1f1;
    color:#00050d;
    border-radius: 8px;
    box-shadow: 0 0 10px #f1f1f1;
  }

  .subs{
    margin-left:  40px;
    margin-right: 230px;
  }

  .material-icons {
    font-size: 18px;
    vertical-align: middle;
  }

  .navbtn{
    background-color: black;
    color:white;
    border-style: none;
    padding:10px  16px;
    font-size:medium;
    font-weight:bold;
    cursor: pointer;
}
.navbtn:hover{
  background-color:#f1f1f1;
  color:#00050d;
    border-radius: 5px;
    box-shadow: 0 0 5px #f1f1f1;
}

.joinbtn{
    background-color: #157bcf;
    font-weight: 600;
    font-size: medium;
    border-radius: 9px;
    border-color: none;
    margin-left: 10px;
}
.joinbtn:hover{
    background-color: #1a98ff;
    box-shadow: 0 0 10px #1a98ff;
}

/* section styling */

h1, p{
    color:white;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 60px 50px;
    margin-left: 20px;
}

.text-container {
    text-align: left;
    margin-bottom: 40px;
    max-width: 50%;
}


.text-container h1 {

    font-size: 3rem;
    margin-bottom: 20px; 
}

.text-container p {
    font-size: 1.2rem;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight:500;
}
.text-container button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.text-container button:hover {
    transform: scale(1.1);
    background-color: #f1f1f1;
    color:#4d4d4d;
}

.image-container {
    width: 55%;
    border-radius: 5px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.ext{
        width: 640px;
        height: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 50px;
}
.links{
    
    width: 200px;
    height:140px;
    border-radius: 10%;
    border:none;
    
}
.links:hover{
    box-shadow: 0 0 10px grey;
}

/* footer styling */

footer{
    background-color: #222222;
    display: flex;
    flex-direction: column;
    padding: 20px  0 0 0;
}

.ftr{
    display: flex;
    justify-content: center;
}

footer>div>a{
    padding-top: 2px;
    color: #79b8f3;
    margin: 0 10px;
}

footer>div>a:hover{
    color: #90dffe;
}

.last{
    color: #8197a4;
}

/* responsive */

@media screen and (min-width: 769px) {
  #menubtn {
    
    display: none;
  }
}

@media screen and (max-width: 600px) {
.navbtn, .subs,.dash,.apps,.joinbtn {
    display: none;
}
#menubtn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
section {
    flex-direction: column-reverse;
    padding: 20px;
}

.text-container {
    text-align: left;
    max-width: 100%; 
    margin-bottom: 20px;
}

.image-container {
    width: 100%;
    margin-bottom: 20px;
}


.ext{
    width: 100%;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 50px;
}
.links{

width: 120px;
height:90px;
border-radius: 10%;
border:none;

}
.links:hover{
box-shadow: 0 0 10px grey;
}
}
